---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import BasePage from "@/layouts/BasePage.astro";
import { Carousel, PeopleProfile } from "@/components";
export async function getStaticPaths() {
  const project = await getCollection("project");
  return project.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"project">;

const projectEntry = Astro.props;
const { logo, title, description, thumbs } = projectEntry.data;
const collaborators = await Promise.all(
  projectEntry.data.collaborators.map(
    async (entry) => (await getEntry("people", entry.id))?.data
  )
);
const { Content } = await projectEntry.render();
---

<BasePage title={title} description={description}>
  <Carousel class="project-cover" images={thumbs} />
  <h1>
    {
      logo !== undefined? (
        <Image src={logo} width="24" height="24" alt={title[0]} />
      ) : (
        title[0]
      )
    }
    <span> {title} </span>
  </h1>
  <p>{description}</p>
  <ul>
    {
      collaborators.map((collaborator) =>
        collaborator ? <PeopleProfile {...collaborator} /> : null
      )
    }
  </ul>
  <Content />
</BasePage>
<style lang="scss" is:global>
  ul {
    display: flex;
    gap: 1rem;
  }
  .project-cover {
    img {
      max-height: 70vh;
    }
  }
  h1,
  p {
    margin: 2rem;
  }
</style>
