---
import "~/tailwind.css";
import "~/global.scss";
// @ts-ignore
import { localizePath } from "astro-i18next";
import { ClientRouter } from "astro:transitions";
import "~/markdown.scss";
import defaultImage from "@/assets/images/banner_picture.jpg";
interface Props {
  title: string;
  description: string;
  image?: ImageMetadata | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = defaultImage } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/SpaceGrotesk.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Rubik.woff2" as="font" type="font/woff2" crossorigin />



<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Localized URLs with full absolute URLs -->
<link rel="alternate" hreflang="x-default" href={new URL(localizePath(Astro.url.pathname, "fr"), Astro.site)} />
<link rel="alternate" hreflang="fr" href={new URL(localizePath(Astro.url.pathname, "fr"), Astro.site)} />
<link rel="alternate" hreflang="en" href={new URL(localizePath(Astro.url.pathname, "en"), Astro.site)} />
<link rel="alternate" hreflang="yo" href={new URL(localizePath(Astro.url.pathname, "yo"), Astro.site)} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="AMADOU Ruchdane" />
<meta name="language" content={Astro.currentLocale || "fr"} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
<meta
  name="google-site-verification"
  content="_iERf55q3i9y9QhHitfItjbSDinpXDZ9P8nTaGD4uEY"
/>
<link rel="sitemap" href="/sitemap-index.xml" />

<ClientRouter />
{import.meta.env.PROD ? <script src="@/script/posthog.js" /> : null}
