---
import { Icon } from "astro-icon/components"
import { Technologie } from "@/schema";
import { TECHNOLOGIE_MAP } from "@/consts.ts";
interface Props {
  name: Technologie;
}

const { name: key } = Astro.props;
const technologie = TECHNOLOGIE_MAP[key];
if(technologie == undefined) throw Error(`{key} not found in icon list`)
const { name, icon } = technologie;
---

<a
  data-technology={name.toLowerCase()}
  href={`/project?filter=${name}`}
>
  <Icon name={icon}/>
  <span>{name}</span>
</a>

<style lang="scss">
  a {
    display: flex;
    padding: 0.5rem 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    overflow: hidden;
    text-transform: capitalize;

    font-weight: bold;
    color: #ffff;
    background-color: var(--neutral-800);
    border-radius: 9999px;
    border: 3px solid #ffffff4d;
    outline: none;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: rgb(63, 63, 70);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    }

    &:hover {
      transform: scale(1.05);
      border-color: #fff9;

      &::before {
        animation: shine 1.5s ease-out infinite;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
</style>
