---
import { changeLanguage } from "i18next";
import { type CollectionEntry, getCollection, getEntry, render, } from "astro:content";
import { Globe, Download, Code } from "lucide-astro";
import TechnologieBadge from "@/components/TechnologieBadge.astro";
import { Image } from "astro:assets";
import BasePage from "@/layouts/BasePage.astro";
import { Carousel, PeopleProfile } from "@/components";
import { generateProjectSchema } from "@/schema";

changeLanguage("en");

export async function getStaticPaths() {
    const project = await getCollection("project");
    return project.map((project) => ({
        params: { slug: project.id },
        props: { ...project },
    }));
}
type Props = CollectionEntry<"project">;
const slug = Astro.params.slug.toUpperCase();
const projectEntry = Astro.props;
const { logo, title, description, thumbs, showcases, websiteUrl, downloadUrl, sourceUrl, technologies, } = projectEntry.data;
const collaborators = await Promise.all(projectEntry.data.collaborators.map(async (entry) => (await getEntry("people", entry.id))?.data));
const { Content } = await render(projectEntry);
---

<BasePage
  title={`${slug} - ${title}`}
  description={description}
  jsonLd={generateProjectSchema(slug, projectEntry.data)}
  image={thumbs[0]?.src}
>
  <div class="project-hero">
    <div class="project-header">
      <span class="project-logo">
        {logo !== undefined ? <Image src={logo} alt={slug[0]} /> : slug[0]}
        <span> {slug} </span>
      </span>
    </div>
    <div class="project-meta">
      <div class="project-actions">
        {
          websiteUrl && (
            <a
              href={websiteUrl}
              target="_blank"
              rel="noopener"
              class="icon-button"
            >
              <Globe />
              <span> Visiter </span>
            </a>
          )
        }
        {
          downloadUrl && (
            <a href={downloadUrl} target="_blank" class="icon-button">
              <Download />
              <span> Télécharger </span>
            </a>
          )
        }
        {
          sourceUrl && (
            <a
              href={sourceUrl}
              target="_blank"
              target="_blank"
              rel="noopener"
              class="icon-button"
            >
              <Code />
              <span> Source </span>
            </a>
          )
        }
      </div>
      <Carousel
        class="project-cover"
        images={showcases ?? thumbs}
        imagesLayout="full-width"
      />
      <div>
        <h1>{title}</h1>
        <ul class="project-collaborator">
          {
            collaborators.map((collaborator) =>
              collaborator ? (
                <li>
                  {" "}
                  <PeopleProfile {...collaborator} />{" "}
                </li>
              ) : null
            )
          }
        </ul>
        <p>{description}</p>
        <div class="project-technologies">
          {technologies.map((tech) => <TechnologieBadge name={tech} />)}
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper markdown">
    <Content />
  </div>
</BasePage>
<style lang="scss">
  @use "../../../styles/media-query" as *;

  h1 {
    font-size: var(--font-h3);
  }
  .project {
    &-hero {
      font-family: "JetBrainsMono", monospace;
      background-color: var(--primary-200);
      padding: 2rem;
      @include breakpoint(desktop) {
        padding: 6rem;
      }
    }

    &-logo {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: var(--font-h3);
      img {
        height: 1.25em;
        width: 1.25em;
      }
    }

    @include breakpoint(desktop) {
      &-header {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-cover {
      margin-inline: auto;
      width: fit-content;
      :global(img) {
        max-height: 50vh;
      }
    }

    @include breakpoint(tablet) {
      &-meta {
        display: flex;
        gap: 5rem;
        padding-inline: 6rem;
      }
    }

    &-collaborator {
      display: flex;
      gap: 1rem;
      list-style: none;
      margin-block: 1rem;
    }

    &-actions {
      display: none;
      flex-direction: column;
      position: absolute;
      height: fit-content;
      background-color: var(--accent-50);
      border-radius: 1rem;
      padding: 0.5rem 0.75rem;
      width: fit-content;
      gap: 2rem;
      right: 1rem;
      z-index: var(--z-index-project-actions);
      &:has(a) {
        display: flex;
      }
      @include breakpoint(desktop) {
        right: 5rem;
      }

      .icon-button {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &-technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }
</style>
