---
import { Image } from "astro:assets";
import { CORE_STACK, TOOLS, SITE_URL } from "@/consts";
import { BasePage } from "@/layouts";
import { TechnologieBadge, SocialLinks } from "@/components";
import cicec from "@/assets/icons/cicec.png";

import hetic from "@/assets/icons/hetic.jpg";
import ileDeFrance from "@/assets/images/ile-de-france.svg";
import kmex from "@/assets/icons/kmex.png";
import ga4 from "@/assets/images/certifications/ga4.png";
import gallery from "@/assets/icons/gallery.svg";
import akojo from "@/assets/icons/akojo.svg";
import ubenin from "@/assets/icons/ubenin.png";
import banner_picture from "@/assets/images/banner_picture.jpg";
import { getMe,generatePersonSchema } from "@/schema";

const me = await getMe();
const mySocials = me.socials;
const technologies = Object.values(CORE_STACK).reduce(
  (result, value) => result?.concat(value ?? []),
  []
);
---

<BasePage
  title="A propos de AMADOU Ruchdane"
  description="Je suis AMADOU Ruchdane Abiodun Adjao, je viens du Bénin et vie actuellement en ile-de-france. Je suis un Dévellopeur et un designer.  J'étudie actuellement à HÉTIC et recherche une alternance en UX\UI Design"
  jsonLd={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    url: `${SITE_URL}/about`,
    name: "A propos de AMADOU Ruchdane",
    description:
    "Product Designer & développeur web passionné par l'innovation.",
    mainEntity:  generatePersonSchema(me)
    }}
  class="fluid"
>
  <div class="bento">
    <section id="me" class="vertical">
      <Image loading="eager" src={banner_picture} alt="Photo de Ruchdane" />
      <p>
        <span>Je suis</span>
        <br />
        <h1>AMADOU Ruchdane Abiodun Adjao</h1>
      </p>
    </section>

    <section id="localisation" class="horizontal">
      <Image
        src={ileDeFrance}
        alt="Carte de la France avec l'ile de France en évidence"
      />
      <p>
        <span>Je suis en</span>
        <br />
        <strong> île de france </strong>
      </p>
    </section>

    <section id="socials">
      <h2>Vous me retrouverez sur</h2>
      <div>
        <SocialLinks {...mySocials} />
      </div>
    </section>

    <section id="education" class="horizontal">
      <Image
        src={hetic}
        loading="eager"
        alt="Hetic l'école internationale de la tech"
      />
      <p>
        <span>j'étudie à </span>
        <br />
        <strong> HETIC la grande école du web</strong>
      </p>
    </section>

    <section id="experience">
      <h2>J'ai travaillé chez</h2>
      <p class="centered">
        <Image src={cicec} alt="CICEC" />
        <Image src={kmex} alt="Kmex consulting" />
      </p>
    </section>

    <section id="project">
      <h2>J'ai travaillé sur ces projets</h2>
      <p>
        <Image src={ubenin} alt="Ubénin" />
        <Image src={akojo} alt="akojo" />
        <Image src={gallery} alt="Gallery" />
      </p>
    </section>

    <section id="technologies">
      <h2>Je travaille avec ces technologies</h2>
      <div class="badge-marquee">
        {
          technologies?.map((technologie) => (
            <TechnologieBadge name={technologie} />
          ))
        }
      </div>
    </section>

    <section id="tools">
      <h2>J'utilise ces outils</h2>
      <div class="badge-marquee">
        {TOOLS.map((tool) => <TechnologieBadge name={tool} />)}
      </div>
    </section>

    <section id="certification">
      <h2>J'ai obtenue ces certifications</h2>
      <p class="centered">
        <Image src={ga4} alt="Google analytics certification" />
      </p>
    </section>
  </div>
</BasePage>

<style lang="scss">
  @use "../styles/media-query" as *;
  img {
    max-width: 200px;
    max-height: 200px;
  }

  .bento {
    margin-top: 2rem;
    margin-inline: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    @include breakpoint(tablet) {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "me           me           localisation education"
        "me           me           socials      experience"
        "me           me           project      experience"
        "technologies technologies project      experience"
        "technologies technologies tools      certification";
    }

    section {
      padding: 1rem;
      border: 1px solid var(--neutral-200);
      border-radius: 1rem;
      background-color: var(--primary-100);
      h2 {
        font-size: var(--font-h5);
        font-weight: normal;
        margin-bottom: 0.8rem;
      }

      .centered {
        display: flex;
        flex-direction: column;
        align-items: anchor-center;
      }

      .badge-marquee {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 8px;
        & > :global(*) {
          width: fit-content;
        }
      }
    }

    .horizontal,
    .vertical {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-align: center;
    }

    .vertical {
      flex-direction: column;
    }

    #me {
      column-span: 2;
      row-span: 2;
      grid-area: me;
    }

    #localisation {
      grid-area: localisation;
    }

    #education {
      grid-area: education;
    }

    #experience {
      grid-area: experience;
    }

    #project {
      grid-area: project;
      p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    #socials {
      grid-area: socials;
    }

    #certification {
      grid-area: certification;
    }

    #technologies {
      grid-area: technologies;
    }

    #tools {
      grid-area: tools;
    }
  }
</style>
