---
import { BasePage } from "@/layouts";
import { getCollection } from "astro:content";
import { HistoryElement } from "@/components";
import cicec from "@/assets/icons/cicec.png";
import umvc3 from "@/assets/icons/umvc3.png";
import mhoj2 from "@/assets/icons/mhoj2.png";
import nsus4 from "@/assets/icons/nsus4.png";
import dbfz from "@/assets/icons/dbfz.png";
import hollow_knight from "@/assets/icons/hollow_knight.png";
import gallery from "@/assets/icons/gallery.svg";
import hetic from "@/assets/icons/hetic.jpg";
import imsp from "@/assets/icons/imsp.jpg";
import kmex from "@/assets/icons/kmex.png";
import logo from "@/assets/icons/logo.svg";
import ubenin from "@/assets/icons/ubenin.png";

import banner_picture from "@/assets/images/banner_picture.jpg";

import { Image } from "astro:assets";
const experienceList = await getCollection("experience");
const educationList = await getCollection("education");
const history = experienceList
  // @ts-ignore
  .concat(educationList)
  .sort((a, b) => b.data.beginDate.getTime() - a.data.beginDate.getTime());
---

<BasePage title="A propos de moi" description="Lorem ipsum dolor sit amet">
  <div class="bento">
    <section id="me">
      <Image src={banner_picture} loading="eager" alt="Photo de Ruchdane" />
      <h1>je suis AMADOU Ruchdane</h1>
    </section>
    <section id="entreprise">
      <Image src={cicec} loading="eager" alt="CICEC" />
      <Image src={kmex} loading="eager" alt="Kmex consulting" />
    </section>
    <section id="education">
      <Image
        src={hetic}
        loading="eager"
        alt="Hetic l'école internationale de la tech"
      />
      <Image
        src={imsp}
        loading="eager"
        alt="Institut de mathématique et science physique"
      />
    </section>
    <section id="games">
      <h1>Mes jeux préférés</h1>
      <div class="games-images">
        <Image src={mhoj2} loading="eager" alt="My hero one justice 2" />
        <Image
          src={nsus4}
          loading="eager"
          alt="Narto Shipudden Ultimate Storm 4"
        />
        <Image src={dbfz} loading="eager" alt="Dragon ball fighter Z" />
        <Image src={hollow_knight} loading="eager" alt="Hollow Knight" />
        <Image src={umvc3} loading="eager" alt="Ultimate Marvel Vs Capcom 3" />
      </div>
    </section>
    <section id="interest">
      <p>
        Aujourd'hui, je souhaite mettre mes compétences techniques et ma
        compréhension des enjeux utilisateurs au service de la gestion de
        produit, pour contribuer à définir et réaliser des solutions innovantes
        et adaptées aux besoins des clients
      </p>
    </section>
    <section id="socials">
      <p>
        Aujourd'hui, je souhaite mettre mes compétences techniques et ma
        compréhension des enjeux utilisateurs au service de la gestion de
        produit, pour contribuer à définir et réaliser des solutions innovantes
        et adaptées aux besoins des clients
      </p>
    </section>
    <section id="certification">
      <p>
        Aujourd'hui, je souhaite mettre mes compétences techniques et ma
        compréhension des enjeux utilisateurs au service de la gestion de
        produit, pour contribuer à définir et réaliser des solutions innovantes
        et adaptées aux besoins des clients
      </p>
    </section>
  </div>
  <p>
    Avec une solide expérience en développement full stack et en ingénierie
    DevOps au sein d'équipes agiles, j'ai travaillé sur des projets variés en
    assurant la conception, la mise en production et l'optimisation des
    solutions.
  </p>
</BasePage>
<style lang="scss">
  @use "../styles/media-query" as *;
  .bento {
    margin-top: 2rem;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "entreprise me       me     socials"
      "education  me       me     certification"
      "interest   interest games  games";
    section {
      border: 1px solid black;
      border-radius: 1rem;
    }

    #me {
      column-span: 2;
      row-span: 2;
      grid-area: me;
    }

    #entreprise {
      grid-area: entreprise;
    }

    #education {
      grid-area: education;
    }

    #games {
      .games-images {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
      }
      img {
        max-width: 200px;
      }
      grid-area: games;
    }

    #interest {
      grid-area: interest;
    }

    #socials {
      grid-area: socials;
    }

    #certification {
      grid-area: certification;
    }
  }
</style>
