---
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  CORE_STACK,
  PLATFORME_MAP,
} from "@/consts";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { Education, Experience, Platforme } from "@/schema";
import { BasePage } from "@/layouts";
import { SquareArrowOutUpRight } from "lucide-astro";
import {
  ProjectCard,
  TechnologieBadge,
  SocialLinks,
  AnchorTabs,
  TabTrigger,
  TabContent,
  HistoryElement,
} from "@/components";
import { getEntry } from "astro:content";
const featuredProject = (await getCollection("project")).filter(
  ({ data: project }) => project.isFeatured
);
const orderByBeginDate = (
  a: { data: Education | Experience },
  b: { data: Education | Experience }
): number => b.data.beginDate.getTime() - a.data.beginDate.getTime();
const experienceList = (await getCollection("experience")).sort(
  orderByBeginDate
);
const educationList = (await getCollection("education")).sort(orderByBeginDate);
const mySocials = (await getEntry("people", "ruchdane"))?.data.socials;
---

<BasePage title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="banner">
    <div class="banner-image">
      <Image
        src="/images/banner_picture.jpg"
        loading="eager"
        width={243}
        height={265}
        alt="Photo de Ruchdane"
      />
    </div>
    <div class="banner-content">
      <div class="banner-text">
        <h2 class="text-body">
          Salut, je suis<strong> AMADOU Ruchdane</strong>
        </h2>
        <strong> Développeur web full-stack </strong>
        <span class="text-body">
          Passionné par l'innovation et la résolution de problèmes utilisateurs
        </span>
        <div class="banner-links">
          <SocialLinks {...mySocials} />
        </div>
      </div>
    </div>
  </section>
  <section class="project">
    <div>
      <h2 transition:name="project-section-title">
        <span> Projets</span>
        <a class="icon-button" href="/project" aria-label="Voir tous les projets"><SquareArrowOutUpRight /></a>
      </h2>
      <p class="text-body">Quelques projets sur lesquels j'ai travaillé</p>
    </div>
    <div class="project-container">
      {featuredProject.map((data) => <ProjectCard {...data} />)}
    </div>
  </section>
  <section class="tech-stack">
    <h2>Technologies</h2>
    <p class="text-body">Mes technologies de prédilection</p>
    <div class="tech-stack-container">
      {
        (Object.keys(CORE_STACK) as Platforme[]).map((key: Platforme) => {
          const platforme = PLATFORME_MAP[key];
          const stack = CORE_STACK[key];
          if (platforme === undefined)
            throw new Error(`key ${key} is not defined in the platforme map`);
          if (stack === undefined || stack.length === 0) {
            console.warn(
              `Platforme ${platforme} has an entry in CORE stack but no technologie inside of it`
            );
            return null;
          }
          const Icon = platforme?.icon;
          return (
            <div class="tech-stack-item">
              <h3>
                <Icon class="tech-icon" />
                <span>{platforme?.name}</span>
              </h3>
              <div class="tech-stack-container">
                {stack.map((name) => (
                  <TechnologieBadge name={name} />
                ))}
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
  <section class="history">
    <AnchorTabs>
      <div class="history-trigger">
        <TabTrigger key="experience">Expériences professionnelles</TabTrigger>
        <TabTrigger key="education">Parcours Scolaire</TabTrigger>
      </div>
      <div class="history-content">
        <TabContent key="experience">
          {experienceList.map((data) => <HistoryElement {...data} />)}
        </TabContent>
        <TabContent key="education">
          {educationList.map((data) => <HistoryElement {...data} />)}
        </TabContent>
      </div>
    </AnchorTabs>
  </section>
</BasePage>
<style lang="scss">
  @use "../styles/media-query" as *;

  section {
    padding: 2rem;
    @include breakpoint(tablet) {
      padding: 4rem;
    }
  }
  .banner {
    font-family: "JetBrainsMono", monospace;
    background-color: var(--primary-200);
    font-weight: 800;
    font-size: var(--font-h5);
    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 38px;
      padding: 6rem;
    }
    &-content {
      @include breakpoint(desktop) {
        max-width: 500%;
      }
    }
    &-image {
      margin-inline: auto;
      width: fit-content;
      position: relative;
      @include breakpoint(desktop) {
        order: 1;
      }
      img {
        border: 1px solid var(--accent-800);
        border-radius: 100%;
        @include breakpoint(tablet) {
          width: 80%;
        }
        @include breakpoint(desktop) {
          width: 100%;
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      strong {
        color: var(--accent-800);
        font-size: var(--font-h4);
      }
      button {
        font-weight: 800;
      }
    }
    &-links {
      margin-top: 16px;
    }
  }

  .project {
    &-header {
      h2 {
        font-size: var(--font-h3);
        font-weight: 800;
      }
      margin-bottom: 32px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      }
    }
  }

  .tech-stack {
    margin-block: 36px;
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100%;
      text-align: center;
      margin-block: 18px;
      text-transform: capitalize;
      @include breakpoint(tablet) {
        width: fit-content;
        text-align: left;
      }
      @include breakpoint(desktop) {
        text-align: center;
      }
    }

    &-item {
      :nth-child(n + 6) {
        display: none;
      }
      @include breakpoint(tablet) {
        :nth-child(n + 6) {
          display: block;
        }
        width: 100%;
        margin: 36px 18px;
        display: flex;
        align-items: center;
        gap: 16px;
      }
      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
      font-size: var(--font-h6);
      @include breakpoint(tablet) {
        width: 100%;
        justify-content: space-around;
      }
      @include breakpoint(desktop) {
        justify-content: center;
      }
    }
  }

  .history {
    max-width: 700px;
    margin-inline: auto;
    &-trigger {
      width: 100%;
      background: var(--neutral-400);
      padding: 9px;
      padding-bottom: 18px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
</style>
