---
import { Image } from 'astro:assets';
import type { Image } from "@/schema"

interface Props {
  width: number;
  height: number;
  images: Image[];
}

const { images, width, height } = Astro.props;
---
  <div class="carousel">
    {images.map(({src, alt, width, height}) => (
      <div class="carousel-slide">
        <Image 
        src={src} 
        alt={alt} 
        width={width} 
        height={height} 
        inferSize={true} />
      </div>
    ))}
  </div>

<style>
  .carousel {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    gap: 1rem;
  }

  .carousel-slide {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .carousel-slide img {
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  const carousel = document.querySelector('.carousel');
  let currentIndex = 0;

  function slideCarousel() {
    const slides = carousel.children;
    currentIndex = (currentIndex + 1) % slides.length;
    carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  setInterval(slideCarousel, 5000);
</script>
