---
import { Image } from "astro:assets";
import type { Education, Experience } from "@/schema";
import FormattedDate from "./FormattedDate.astro";
import type { Language } from "@/consts";
import i18next from "i18next";
interface Props {
  slug: string;
  data: Education | Experience;
}

const language = (i18next.language || "fr") as Language;

const {
  data: {
    image,
    beginDate,
    endDate,
    name,
    description: descriptions,
    ...props
  },
} = Astro.props;

const description = descriptions[language] || "";
const dateFormat: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
};

const title =
  "formation" in props
    ? `${props.formation} ${props?.diplome ?? ""}`
    : (props?.role[language] ?? "");
---

<div class="history">
  <div class="history-image">
    <Image
      src={image.src}
      alt={image.alt ?? name}
      class="history-logo"
      width="83"
      height="83"
    />
  </div>
  <h4 class="history-title">{title}</h4>
  <p class="history-name">{name}</p>
  <p class="history-date">
    <span>
      <FormattedDate date={beginDate} format={dateFormat} />
    </span>
    {
      endDate !== undefined ? (
        <span>
          <FormattedDate date={endDate} format={dateFormat} />
        </span>
      ) : null
    }
  </p>
  <p class="history-description" set:html={description} />
</div>
<style lang="scss">
  @use "~/media-query" as *;

  .history {
    display: grid;
    grid-template-columns: 4rem 1fr;
    margin-block: 1rem 2rem;
    gap: 0rem 1rem;
    & > * {
      margin: 0;
    }
    &-image {
      grid-row-start: 1;
      grid-row-end: 3;
      padding-block-start: 1.5rem;
      @include breakpoint(desktop) {
        grid-row-end: 4;
      }
    }

    &-title,
    &-name,
    &-date {
      grid-column: 2;
    }

    &-description {
      grid-column-start: 1;
      grid-column-end: 3;
      @include breakpoint(desktop) {
        grid-column-start: 2;
      }
    }

    &-date {
      color: var(--accent-600);
      &:nth-child(2)::before {
        content: " - ";
      }
    }
  }
</style>
