---
interface Props {
  title: string;
  description: string;
  image?: ImageMetadata | undefined;
  class?: string;
}
import { BaseHead, Header, Footer } from "@/components";
import { slide } from "astro:transitions";

const { title, description, image, class: className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main transition:animate={slide()} class={className} {...rest}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
